@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #7a735b;
  --brand-secondary: #9a9283;
  --brand-background: #e8e6e3;
}

body {
  background: var(--brand-background);
  min-height: 100vh;
}

.logo-text {
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

.logo {
  width: 70%;
  max-width: 500px;
  height: auto;
}
